.App {
  text-align: center;
  background-image: url("../public/assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.tasksCard {
  background-image: url("../public/assets/bg.png") !important;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    to bottom,
    rgb(241, 255, 241),
    rgba(204, 244, 204, 0.852),
    rgba(156, 203, 156, 0.764)
  ) !important;
}

.iconButtonStyle {
  transition: all 0.2s !important;
}
.iconButtonStyle:hover {
  background-color: #ededed !important;
}

.todo {
  transition: all 0.3s !important;
  border-radius: 20px !important;
  min-width: 275 !important;
  background-color: #f7f7f7 !important;
  color: #000000c7 !important;
  margin-top: 20px ;
}
.todo:hover {
  padding: 10px 5px 10px 0px;
}

/* ===FONTS=== */
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-Regular.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-SemiBold.ttf");
  font-weight: 600;
}


.task{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3) ;
  border-radius: 20px;
}