.App {
  text-align: center;
  background-image: url("../public/assets/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.tasksCard {

  background: linear-gradient(
    to bottom,
    rgba(241, 255, 228, 0.847),
    rgba(126, 224, 182, 0.597),
    rgba(163, 221, 229, 0.764)
  ) !important;
}

.iconButtonStyle {
  transition: all 0.2s !important;
}
.iconButtonStyle:hover {
  background-color: #ededed !important;
}

.todo {
  transition: all 0.3s !important;
  border-radius: 20px !important;
  min-width: 275 !important;
  background-color: #f7f7f7 !important;
  color: #000000c7 !important;
  margin-top: 20px ;
}
.todo:hover {
  padding: 10px 5px 10px 0px;
}

/* ===FONTS=== */
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-Regular.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Arabic;
  src: url("../public/Fonts/Harmattan-SemiBold.ttf");
  font-weight: 600;
}


.task{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3) ;
  border-radius: 20px;
}



/* عرض السكرول */
::-webkit-scrollbar {
  width: 0px;
}

/* الخلفية */
::-webkit-scrollbar-track {
  background: #96d6ad;
  border-radius: 10px;
}

/* الجزء اللي بيتحرك */
::-webkit-scrollbar-thumb {
  background: #48855e;
  border-radius: 10px;
}

/* عند الـ hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d724e;
}